<div class="col s12">
  <mz-input-container [class]="'black-text'">
    <input class="search" id="search-input" mz-input [label]="'Buscar usuario'" #searchBox placeholder="" type="text" (focus)="showResult=true"
      (keyup)="search(searchBox.value)">

    <mz-dropdown [id]="'search-dropdow'" [align]="'left'" [belowOrigin]="true" [constrainWidth]="true" [dropdownButtonId]="'search-input'"
      [gutter]="true" [hover]="false" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
      <mz-dropdown-item *ngFor="let user of users | async">
        <a [style.display]="'flex'" [style.color]="'black'" (click)="gotoDetail(user); searchBox.value=''">
          <img src="assets/sidenav-demo-avatar.png" alt="" class="avatar-small circle responsive-img">
          <div>
            <div class="account-name">{{user.fullname}} - {{user.username}}</div>
            <div class="account-email">{{user.email}}</div>
          </div>
        </a>
      </mz-dropdown-item>
    </mz-dropdown>

  </mz-input-container>
</div>
