<div class="">
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <h4 class="center-align">{{app_name}}</h4>
      <div class="divider"></div>
      <div class="section">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit($event)">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account'">
            </i>
            <input mz-input id="username" name="username" [label]="'Usuario'" placeholder="Ingresa tu nombre de usuario" type="text"
              autocomplete="off" required [(ngModel)]="user.username" #username="ngModel">
          </mz-input-container>

          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'key-variant'">
            </i>
            <input mz-input id="password" name="password" [label]="'Contraseña'" placeholder="*****" type="password" required [(ngModel)]="user.password"
              #password="ngModel">
          </mz-input-container>

          <div class="row">
            <mz-checkbox-container class="col s12 m12 l12">
              <input mz-checkbox [label]="'Recordarme'" id="remember-token" type="checkbox">
            </mz-checkbox-container>
          </div>

          <div class="row">
            <button class="col s12 m12 l12" type="submit" mz-button [disabled]="!loginForm.form.valid || !!sending">
              Iniciar Sesión
            </button>
          </div>

          <div class="row" *ngIf="sending">
            <mz-progress [backgroundClass]="'blue lighten-4'" [progressClass]="'teal'"></mz-progress>
          </div>

          <div class="row" *ngIf="!sending">
            <div *ngIf="response">
              <mz-card [backgroundClass]="'red darken-4'" [textClass]="'white-text'" [hoverable]="true" *ngIf="response.status === 406">
                <mz-card-content>
                  El usuario o la contraseña no son correctos!
                </mz-card-content>
              </mz-card>
              <mz-card [backgroundClass]="'red darken-4'" [textClass]="'white-text'" [hoverable]="true" *ngIf="response.status !== 406">
                <mz-card-content>
                  Ocurrió un problema en el servidor, intentelo más tarde.
                </mz-card-content>
              </mz-card>
            </div>
          </div>
        </form>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>
